li a {
    color: tan;
    font-size: large;
    text-decoration: none;
}
li a:hover{
    color: green;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-color:#555555;
}
.container h2{
    color: tan;
    padding:0px;
    margin-top:10px;
}
.hero {
    background: white url(images/aot.avif) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 60vh;
}
.hero h1{
    text-align: center;
    font-size: xx-large;
    color: tan;
    background-color: #555555;
    padding: 10px;
}
.sound{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    background-color: tan;
    margin-bottom: 30px;
}
.sound h1{
    color: white;
}
